data/*
!data/.gitkeep
!data/raw/
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep
!data/augmented/
!data/augmented/.gitkeep
*.csv
*.parquet
*.pt
*.bin
*.safetensors
saved_models/*
!saved_models/.gitkeep
__pycache__/
.env
*.egg-info/
.ipynb_checkpoints/
results/metrics/*
!results/metrics/.gitkeep
results/error_analysis/*
!results/error_analysis/.gitkeep
